<% provide(:title, "Sign In") %>

<div class="row static-page">
	<div class="col-md-6 col-md-offset-3">
		<%= render :partial => 'shared/flash_messages' %>
		<div class="form-header">Have an Account? Log in:</div>
		<%= form_for(:session, url: sessions_path) do |f| %>

			<div class="form-group">
			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, :class => "form-control"  %></div>
			</div>

			<div class="form-group">
			  <div><%= f.label :password %><br />
			  <%= f.password_field :password, :class => "form-control"  %></div>
			</div>

		  <div><%= f.submit "Sign In", :class => "pull-right btn btn-primary"%></div>
		<% end %>
		
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
		
	</div>
</div>