<div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
			<div class="panel-title">Purchase Inventory</div>
		</div>
    <div class="panel-body add-card-panel">
      <div class="text-center">
        <%= image_tag ('cc_logos.png'), class: 'cc_logos_boxed' %>
      </div>
      <%= form_for :transaction, :url => submit_transaction_path(@user), html: { id: "braintree-form" } do |f| %>
        <div class="form-group">
    			<%= fields_for :pricing do |sub| %>
    				<%= sub.select :plan_id, Plan.all.collect{|x| ["#{x.description} - #{number_to_currency(x.price, precision: 0)}", x.plan_id]}, {}, { id: "plan-select", class: "form-control" }  %>
    			<% end %>
        </div>
        <div id="area-select" class="form-group">
    			<%= fields_for :area do |area| %>
    				<%= area.select :area_id, Area.all.collect{|x| [x.name, x.id]}, { include_blank: "-- Select Coverage Area --" }, { class: "form-control" }  %>
    			<% end %>
        </div>
        <%= f.fields_for :credit_card do |cc| %>
  				<div class="form-group">
  						<%= cc.text_field :cardholder_name, class: "form-control", placeholder: "Name on Card" %>
  				</div>
  				<div class="form-group row">
  					<div class="col-md-8">
  				  	<input type="text" autocomplete="off" data-encrypted-name="transaction[credit_card][number]" 
  							class="form-control" value="4111111111111111"/>
  					</div>
  					<div class="col-md-4">
  						<input type="text" autocomplete="off" data-encrypted-name="transaction[credit_card][cvv]" class="form-control" value="123"/>
  					</div>
  				</div>
  				<div class="form-group row">
  					<div class="col-md-6">
  				  	<%= select_month Date.today, { prefix: 'transaction[credit_card]', field_name: 'expiration_month' }, { class: "form-control" } %>
  					</div>
  					<div class="col-md-6">
              <%= select_year Date.today, 
              { start_year: Date.today.year, end_year: (Date.today+10.years).year, prefix: 'transaction[credit_card]', field_name: 'expiration_year' }, 
              { class: "form-control" } %>
  					</div>
  				</div>
        <% end %>
				<%= f.fields_for :billing do |ba| %>
					<div class="form-group row">
            <div class="col-md-12">
					     <%= ba.text_field :street_address, class: "form-control", placeholder: "Billing Address" %>
            </div>
					</div>
          <div class="form-group row">
            <div class="col-md-12">
              <%= ba.text_field :locality, class: "form-control", placeholder: "City" %>
            </div>
          </div>
					<div class="form-group row">
						<div class="col-md-6">
							<%= ba.select :region, states, {}, { class: "form-control" } %>
						</div>
						<div class="col-md-6">
							<%= ba.text_field :postal_code, class: "form-control", placeholder: "Zip" %>
						</div>
					</div>
				<% end %>
        <%= check_box_tag :accept_terms %> Accept <%= link_to "Terms & Conditions", toc_path %>
        <%= f.submit "Purchase", class: "btn btn-sm btn-success pull-right btn-purchase", disabled: true %>
      <% end %>
    </div>
  </div>
</div>

<script>
$( "#plan-select" ).change(function() {
  if ($("#plan-select").val() == "self") {
    $("#area-select").hide();
  } else {
    $("#area-select").show();
  }
});

$( "#accept_terms" ).change(function() {
  if (this.checked) {
    $(".btn-purchase").removeAttr("disabled");
  } else {
    $(".btn-purchase").attr("disabled", "disabled");
  }
});

</script>