<div class="col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
			<div class="panel-title">Purchase Inventory</div>
		</div>
    <div class="panel-body add-card-panel">
      <%= form_for :transaction, :url => submit_transaction_path(@user), html: { id: "braintree-form" } do |f| %>
        <div class="form-group">
    			<%= fields_for :pricing do |sub| %>
    				<%= sub.select :plan_id, Plan.all.collect{|x| [x.description, x.plan_id]}, {}, { class: "form-control" }  %>
    			<% end %>
        </div>
        <%= f.fields_for :credit_card do |cc| %>
  				<div class="form-group">
  						<%= cc.text_field :cardholder_name, class: "form-control", placeholder: "Name on Card" %>
  				</div>
  				<div class="form-group row">
  					<div class="col-md-8">
  				  	<input type="text" autocomplete="off" data-encrypted-name="transaction[credit_card][number]" 
  							class="form-control" value="4111111111111111"/>
  					</div>
  					<div class="col-md-4">
  						<input type="text" autocomplete="off" data-encrypted-name="transaction[credit_card][cvv]" class="form-control" value="123"/>
  					</div>
  				</div>
  				<div class="form-group row">
  					<div class="col-md-6">
  				  	<%= select_month Date.today, { prefix: 'transaction[credit_card]', field_name: 'expiration_month' }, { class: "form-control" } %>
  					</div>
  					<div class="col-md-6">
              <%= select_year Date.today, 
              { start_year: Date.today.year, end_year: (Date.today+10.years).year, prefix: 'transaction[credit_card]', field_name: 'expiration_year' }, 
              { class: "form-control" } %>
  					</div>
  				</div>
        <% end %>
				<%= f.fields_for :billing do |ba| %>
					<div class="form-group">
					  <%= ba.text_field :street_address, class: "form-control", placeholder: "Billing Address" %>
					</div>
					<div class="form-group row">
						<div class="col-md-5">
					  	<%= ba.text_field :locality, class: "form-control", placeholder: "City" %>
						</div>
						<div class="col-md-3">
							<%= ba.select :region, state_abbreviations, {}, { class: "form-control" } %>
						</div>
						<div class="col-md-4">
							<%= ba.text_field :postal_code, class: "form-control", placeholder: "Zip" %>
						</div>
					</div>
				<% end %>
        <%= f.submit "Add", class: "btn btn-sm btn-success pull-right" %>
      <% end %>
    </div>
  </div>
</div>