<% provide(:title, "Profile") %>
<div class="col-md-8" ng-init="userId=<%= current_user.id %>;stateList=<%= states %>;provinceList=<%= provinces %>">
  <%= render :partial => 'shared/flash_messages' %>
  <% if current_user.inspections.empty? %>
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<div class="panel-title">
					Welcome to MyInventory
				</div>
			</div>
			<div class="panel-body">
        <p>
          Visualize trying to create an inventory form memory after the loss of your home and everything you worked so hard to acquire.  This can be an overwhelming if not impossible task that could cause delays in settling your claim.  To receive reimbursement from most insurance companies, homeowners must prove of ownership for each and every item they claim was destroyed, stolen, or lost in fire, flood etc.
        </p>
        <p>
          We are licensed, insured and bonded and will provide you with a signed confidentiality statement and we will not conduct the inventory without you being present.
        <p>
        </p>
          We use a tightly configured firewall and our servers are located in a secure and 24/7 monitored datacenter.
        </p>
      </div>
    </div>
  <% else %>
  	<div ng-controller="UserController">
      <div class="edit-message alert alert-{{ message.key }} alert-dismissable" ng-repeat="message in messages">
        {{ message.value }}
      </div>
  		<form ng-submit="editUser(user)" name="editUserForm">
  			<div class="panel panel-default">
  				<div class="panel-heading clearfix">
  					<div class="panel-title">
  						Personal Profile
              <div class="col-md-6 text-right pull-right">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#passwordModal">Change Password</button>
                <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
              </div>
  					</div>
  				</div>
  				<div class="panel-body">
  					<div class="form-group row">
  						<div class="col-md-6">
  							<input class="form-control" ng-model="user.first_name" placeholder="First Name">
  						</div>
  						<div class="col-md-6">
  							<input class="form-control" ng-model="user.last_name" placeholder="Last Name">
  						</div>
  					</div>
  					<div class="form-group row">
  						<div class="col-md-6">
  							<input class="form-control" ng-model="user.email" placeholder="Email">
  						</div>
  						<div class="col-md-6">
  							<input type="tel" class="form-control" ng-model="user.phone_number" placeholder="Phone Number">
  						</div>
  					</div>
  					<div class="form-group row">
  						<div class="col-md-4">
  							<input class="form-control" ng-model="user.address.city" placeholder="City">
  						</div>
  						<div class="col-md-4" ng-hide="user.address.country=='Canada'">
  							<select class="form-control" ng-model="user.address.state" ng-options="state for state in stateList">
  								<option value="">Select State</option>
  							</select>
  						</div>
  						<div class="col-md-4" ng-show="user.address.country=='Canada'">
  							<select class="form-control" ng-model="user.address.state" ng-options="province for province in provinceList">
  								<option value="">Select Province</option>
  							</select>
  						</div>
  						<div class="col-md-2">
  							<input class="form-control" ng-model="user.address.zip" placeholder="Zip">
  						</div>
  						<div class="col-md-2">
  							<select class="form-control" ng-model="user.address.country">
  								<option value="USA">USA</option>
  								<option value="Canada">Canada</option>
  							</select>
  						</div>
  					</div>
  				</div>
  			</div>
  		</form>
  		<div class="panel panel-default">
  			<div class="panel-heading clearfix">
  				<div class="panel-title">
  					My Inventories
  				</div>
  			</div>
        <%= render partial: 'inventories' %>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content clearfix">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Change Your Password</h4>
            </div>
            <div class="modal-body">
             <form ng-submit="changePassword(user)" name="changePasswordForm">
         			<div class="form-group row">
         				<div class="col-md-6">
         					<input type="password" class="form-control" ng-model="newPass" placeholder="New Password" ng-minlength="6" required>
         				</div>
         				<div class="col-md-6">
         					<input type="password" class="form-control" ng-model="newConfirm" placeholder="Confirmation" ng-minlength="6" required>
         				</div>
         			</div>
              <div class="form-group row">
                <div class="col-md-12">
                   <button ng-hide="newPass==newConfirm && changePasswordForm.$valid" onclick="$('#passwordModal').modal('hide');" type="button" class="pull-right btn btn-primary btn-sm">Cancel</button>
                  <button ng-show="newPass==newConfirm && changePasswordForm.$valid" onclick="$('#passwordModal').modal('hide');" type="submit" class="pull-right btn btn-success btn-sm">Save Password</button>
                </div>
              </div>
             </form>
            </div>
          </div>
        </div>
      </div>
  	</div>
  <% end %>
</div>
<%= render :partial => 'purchase_inventory' %>

