<% provide(:title, "Sign Up") %>

<div class="static-page">
	<div class="container">
		<div class="row">
			<div id="contactInfo" class="col-md-4 col-md-offset-1">
        <div class="contact-header">Create Your Account</div>
				<p>
          Creating a home inventory account with our company is an error proof, secured process for entering your information about yourself and our location allows you to keep the information on hand and updated so that’s easy to provide to your insurance company should a disaster strike or a burglary occur.
        </p>
        <p>
          Having your information stored remotely on secured servers ensures nothing gets overlooked when presenting your claim, furthermore, your information can be accessed from any device.
        </p>
        <p>
          We understand your time is very important and taking time to catalog your personal items is very time consuming and overwhelming to some, that’s why we offer the service to you.
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1" id="signup-form">
        <%= form_for(@user) do |f| %>
          <div class="panel panel-default">
	          <div class="panel-heading">Your Information</div>
            <div class="panel-body">
          	  <div class="form-group row">
          		  <div class="col-md-6">
          		    <%= f.text_field :first_name, :class => "form-control", placeholder: "First Name" %>
                </div>
                <div class="col-md-6">
                  <%= f.text_field :last_name, :class => "form-control", placeholder: "Last Name" %>
                </div>
              </div>
              <%= f.fields_for :address do |a| %>
            	  <div class="form-group row">
                  <div class="col-md-12">
            		    <%= a.text_field :street1, :class => "form-control", placeholder: "Address" %>
                  </div>
            		</div>
            	  <div class="form-group row">
                  <div class="col-md-4">
            		    <%= a.text_field :city, :class => "form-control", placeholder: "City" %>
                  </div>
                  <div class="col-md-4">
            		    <%= a.select :state, states, {}, { class: "form-control" } %>
                  </div>
                  <div class="col-md-4">
            		    <%= a.text_field :zip, class: "form-control" %>
                  </div>
            		</div>
              <% end %>
          	  <div class="form-group row">
                <div class="col-md-6">
          		    <%= f.phone_field :phone_number, :class => "form-control", placeholder: "Phone Number" %>
                </div>
                <div class="col-md-6">
                  <%= f.email_field :email, :class => "form-control", placeholder: "Email" %>
                </div> 
          		</div>
          		<div class="form-group row">  
          			<div class="col-md-6">
          	  	  <%= f.password_field :password, :class => "form-control", placeholder: "Password" %>
                </div>
          	  	<div class="col-md-6">
          	  	  <%= f.password_field :password_confirmation, :class => "form-control", placeholder: "Confirmation" %>
                </div>
          		</div>
              <div class="form-group row">
                <div class="col-md-8">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="accept"> Accept 
                      <%= link_to "Terms & Conditions", "#", data: { toggle: 'modal', target: '#myModal'} %>
                    </label>
                  </div>
                </div>
                <div class="col-md-4"><%= f.submit "Start My Inventory", :class => "btn btn-primary pull-right" %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render template: 'static_pages/toc' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>