<% provide(:title, "Sign Up") %>

<div class="static-page">


  <div class='row plans'>
    <div class='col-sm-4'>
      <div class='well'>
        <h2 class='lead text-center'>MI Agent Inventory</h2>
        <h2 class='lead text-center'>$495</h2>
        <hr />
        <p>
          One of our local mi agents will schedule a convenient time with you to complete your inventory. They will create your account with a temporary password, document your belongings with images and comments and show you how to update your inventory once they are gone. You will be the only person with access to your inventory.
        </p>
        <p>
          Your inventory will be stored online for 1 year.
        </p>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='well'>
        <h2 class='lead text-center'>User Created Inventory</h2>
        <h2 class='lead text-center'>$495</h2>
        <hr />
        <p>
          This is a do-it-yourself option. You will be able to use all of the tools to create your own inventory. You can add images and comments next to your belongings. We are here to help answer any questions and have provided helpful tutorials so you can complete your inventory.
        </p>
        <p>
          Your inventory will be stored online for 1 year.
        </p>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='well'>
        <h2 class='lead text-center'>Annual Renewal</h2>
        <h2 class='lead text-center'>$99</h2>
        <hr />
        <p>
          Each year you will be required to renew your account. You will have unlimited access to review and update your inventory.
        </p>
        <p>
          Your inventory will be stored online for 1 year.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="contactInfo" class="col-md-6">
      <p>
        <h2 class='lead'>Start protecting yourself with a personal inventory.</h2>
        <h3 class='lead'>Simple and easy to use. No hidden costs. 100% money-back guarantee.</h3>
        Images<br />
        Comments<br />
        One-click PDF document you can share<br />
        Room by room analysis<br />
        Cloud Based<br />
        Helpful turorials<br />
        And much more!<br />
      </p>
    </div>

    <div class="col-md-6" id="signup-form">
      <%= form_for(@user) do |f| %>
        <div class="panel panel-default">
          <div class="panel-heading">Register Now</div>
          <div class="panel-body">

            <div class="form-group">
              <label>First Name</label>
              <%= f.text_field :first_name, :class => "form-control", placeholder: "" %>
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <%= f.text_field :last_name, :class => "form-control", placeholder: "" %>
            </div>

            <div class="form-group">
              <label>Email</label>
              <%= f.email_field :email, :class => "form-control", placeholder: "" %>
            </div>

            <div class="form-group">
              <label>Password</label>
              <%= f.password_field :password, :class => "form-control", placeholder: "" %>
            </div>

            <div class="form-group">
              <label>Confirmation</label>
              <%= f.password_field :password_confirmation, :class => "form-control", placeholder: "" %>
            </div>

            <%= f.fields_for :address do |a| %>
              <div class="form-group">
              <label>City</label>
                <%= a.text_field :city, :class => "form-control", placeholder: "" %>
              </div>
              <%= f.fields_for :address do |a| %>
            	  <div class="form-group row">
                  <div class="col-md-12">
            		    <%= a.text_field :street1, :class => "form-control", placeholder: "Address" %>
                  </div>
            		</div>
            	  <div class="form-group row">
                  <div class="col-md-4">
            		    <%= a.text_field :city, :class => "form-control", placeholder: "City" %>
                  </div>
                  <div class="col-md-4">
            		    <%= a.select :state, states, {}, { class: "form-control" } %>
                  </div>
                  <div class="col-md-4">
            		    <%= a.text_field :zip, class: "form-control" %>
                  </div>
            		</div>
              <% end %>
          	  <div class="form-group row">
                <div class="col-md-6">
          		    <%= f.phone_field :phone_number, :class => "form-control", placeholder: "Phone Number" %>
                </div>
                <div class="col-md-6">
                  <%= f.email_field :email, :class => "form-control", placeholder: "Email" %>
                </div> 
          		</div>
          		<div class="form-group row">  
          			<div class="col-md-6">
          	  	  <%= f.password_field :password, :class => "form-control", placeholder: "Password" %>
                </div>
          	  	<div class="col-md-6">
          	  	  <%= f.password_field :password_confirmation, :class => "form-control", placeholder: "Confirmation" %>
                </div>
          		</div>
              <div class="form-group row">
                <div class="col-md-8">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="accept"> Accept 
                      <%= link_to "Terms & Conditions", "#", data: { toggle: 'modal', target: '#myModal'} %>
                    </label>
                  </div>
                </div>
                <div class="col-md-4"><%= f.submit "Start My Inventory", :class => "btn btn-primary pull-right" %></div>
              </div>
            <% end %>
            
            <div class="form-group">
              <label>Phone Number</label>
              <%= f.phone_field :phone_number, :class => "form-control", placeholder: "" %>
            </div>

            <div class="form-group">
              <label>Plan</label>  
              <%= f.select :phone_number, ['$495', '$250'], {}, { class: "form-control" } %>
            </div>

            <div class="form-group">
              <%= f.submit "Register", :class => "btn btn-primary pull-right" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render template: 'static_pages/toc' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>
