<%= form_for @property, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
	  <%= f.label :name, :class => "col-md-2 control-label" %>
		<div class="col-md-10"><%= f.text_field :name, :class => "form-control" %></div>
	</div>

  <div class="form-group">
	  <%= f.label :address, :class => "col-md-2 control-label" %>
		<div class="col-md-10"><%= f.text_field :address, :class => "form-control" %></div>
	</div>
	
	<div class="form-group">
	  <%= f.label :city, :class => "col-md-2 control-label" %>
		<div class="col-md-10"><%= f.text_field :city, :class => "form-control" %></div>
	</div>
	
	<div class="form-group">
	  <%= f.label :state, :class => "col-md-2 control-label" %>
		<div class="col-md-10"><%= f.text_field :state, :class => "form-control" %></div>
	</div>
	
	<div class="form-group">
	  <%= f.label :zip, :class => "col-md-2 control-label" %>
		<div class="col-md-10"><%= f.text_field :zip, :class => "form-control" %></div>
	</div>
	
	<% if @property.new_record? %>
		<%= f.fields_for :room_count do |room_count| %>
			<% room_list.each do |room| %>
				<div class="form-group">
				  <%= room_count.label room.to_sym, "#{room.humanize.pluralize} ", :class => "col-md-2 control-label" %>
					<div class="col-md-10"><%= room_count.text_field room.to_sym, :class => "form-control", :value => "#{@property.rooms.type_count(room)}" %></div>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<div class="col-md-8 col-md-offset-2">
		<table class="table table-striped table-bordered">
			<% @property.rooms.each do |room| %>
				<tr>
					<td><%= room.name %></td>
					<td><%= room.features %></td>
				</tr>
			<% end %>
		</table>
		</div>
	<% end %>
	
  <div class="actions pull-right">
    <%= f.submit "Save Property", :class => "btn btn-primary" %>
  </div>
<% end %>
