<div class="panel-group" id="accordion">
	<% @property.rooms.each do |room| %>
	  <div class="panel panel-default room-panel">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a class="accordion-toggle room-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= room.id %>">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
	        <%= room.name %>
	      </h4>
	    </div>
	    <div id="collapse<%= room.id %>" class="panel-collapse collapse">
	      <div class="panel-body">
					<% if room.features %>
						<% room.features.keys.each do |key| %>
							<div class="col-md-4">
								<div class="well">
									<legend><%= key.humanize %> Features</legend>
									<ul class="list-group">
										<% room.features[key].each do |feature| %>
											<li class="list-group-item">
												<%= feature %>
												<span class="remove-feature-button glyphicon glyphicon-remove pull-right"></span>
											</li>
										<% end %>
									</ul>
								</div>
							</div>
						<% end %>
					<% end %>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>

<script>
$(".glyphicon-minus, .glyphicon-plus").click(function(){
    $(this).toggleClass("glyphicon-minus glyphicon-plus");
});
</script>
