<div ng-init="inspection_id='<%= @inspection.id %>'">
	<%= form_for(@inspection, html: { class: "form-horizontal col-md-10 col-md-offset-1", role: "form" }) do |f| %>
	  <% if @inspection.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>
	      <ul>
	      <% @inspection.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <%= f.hidden_field :property_id %>
    <%= f.fields_for :address do |address| %>
  	  <div class="form-group">
  			<label class="col-md-2 control-label">Address / Unit</label>
  			<div class="col-md-6">
  	    	<%= address.text_field :street1, :class => "form-control", :placeholder => "Address" %>
  			</div>
  			<div class="col-md-2">
  	    	<%= address.text_field :street2, :class => "form-control", :placeholder => "Unit #" %>
  			</div>
  	  </div>
  	  <div class="form-group">
  			<label class="col-md-2 control-label">City / State / Zip</label>
  			<div class="col-md-4">
  	    	<%= address.text_field :city, :class => "form-control", :placeholder => "City" %>
  			</div>
  			<div class="col-md-2">
  	    	<%= address.text_field :state, :class => "form-control", :placeholder => "State" %>
  			</div>
  			<div class="col-md-2">
  	    	<%= address.text_field :zip, :class => "form-control", :placeholder => "Zip" %>
  			</div>
  	  </div>
    <% end %>
	  <div class="form-group">
	    <%= f.label 'Inventory Date', :class => "col-md-2 control-label" %>
			<div class="col-md-4 input-group" style="padding-left:14px;">
	    	<%= f.text_field :inspection_date, :class => "form-control datepicker" %>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			</div>
	  </div>
	  <div class="form-group">
			<div class="col-md-10">
	    	<%= f.submit 'Start Inventory', :class => "col-md-2 btn btn-success btn-sm pull-right btn-cancel" %>
				<%= link_to "Cancel", inspections_path, :class => "col-md-2 btn btn-danger btn-sm pull-right" %>
			</div>
	  </div>
	<% end %>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
</script>
