<% provide(:title, "Show Inventory") %>

<div class='row top-actions'>
  <%= form_tag inspection_email_path(@inspection), method: :get do %>
    <div class='col-sm-4 col-sm-offset-5'>
      <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email Address' %>
    </div>
    <div class='col-sm-1'>
      <%= submit_tag 'Send PDF', class: 'btn btn-success btn-sm' %>
    </div>
  <% end %>
  <div class='col-sm-2'>
    <%= link_to "Preview PDF", inspection_path(@inspection, format: "pdf"), class: "btn btn-primary btn-sm btn-save pull-right", target: "_blank" %>
  </div>
</div>
<div ng-init="inspection_id='<%= @inspection.id %>'">
  <div class="panel-group" id="accordion" ng-controller="InspectionController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title inspection-title row">
          <form class="form-inline col-md-6" role="form">
            <span class="clicktoedit" ng-hide="inspection.editing" ng-click="inspection.editing = true">{{ inspection.name }}
              <span class="glyphicon glyphicon-pencil edit-icon"></span>
            </span>
            <span ng-show="inspection.editing">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="inspection.name">
              </div>
              <button class="btn btn-default btn-sm" type="submit" ng-click="inspection.editing = false; editInspection(inspection)">Save</button>
            </span>
          </form>
        </div>
      </div>
      <%= render :partial => 'inspection_details' %>
    </div>
    <%= render :partial => 'rooms' %>
    <div class="room-panel panel panel-default">
      <div class="room-heading panel-heading">
        <div class="room-title panel-title" ng-init="inspected_room_id=room.id">
          <form class="form-inline" role="form" ng-submit="addRoom()">
            <div class="form-group">
              <label class="sr-only" for="newRoomName">Type</label>
              <input type="text" class="form-control" placeholder="Room Name" ng-model="newRoom.name" />
            </div>
            <button type="submit" class="btn btn-sm btn-success">Add Additonal Room</button>
          </form>
        </div>
      </div>
    </div>
    <%= render :partial => 'valuables' %>
  </div>
</div>
