<h1>Listing images</h1>

<div ng-controller="MyCtrl">
  <input type="text" ng-model="myModelObj">
  <input type="file" ng-file-select="onFileSelect($files)" >
</div>


<div id="fileupload" ng-controller='TestCtrl'>
  <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Add files...</span>
      <input type="file" name="image[asset]" multiple ng-disabled="disabled">
  </span>
  <table class="table table-striped files ng-cloak">
		<tr data-ng-repeat="file in fileList" data-ng-class="{'processing': file.$processing()}">
			<td>{{ file.name }}</td>
		</tr>
	</table>
</div>


<table>
  <thead>
    <tr>
			<th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
				<td><%= image.asset.url(:thumb) %>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
