<h1>Listing images</h1>

<%= form_for Image.new do |i| %>
	<%= i.file_field :asset %>
	<%= i.submit %>
<% end %>


<table>
  <thead>
    <tr>
			<th></th>
      <th>Inspection</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
				<td><%= image.asset.url(:thumb) %>
        <td><%= image.inspection %></td>
        <td><%= image.user %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
