<header>
  <div class="container">
    <div class='row'>
      <div class='col-md-10'>
        <ul class="menu">
          <% if current_user && current_user.admin? %>
            <%= render :partial => 'layouts/admin_links' %>
          <% elsif current_user && current_user.agent? %>
            <%= render :partial => 'layouts/agent_links' %>
          <% elsif current_user %>
            <%= render :partial => 'layouts/user_links' %>
          <% else %>
            <%= render :partial => 'layouts/public_links' %>
          <% end %>
        </ul>
      </div>
      <div class='col-md-2'>
        <div class='mi-logo'>
          <%= link_to image_tag('mi_logo_white.png', class: 'img-responsive'), root_path %>
        </div>
      </div>
    </div>
  </div>
</header>
