<ul class="nav navbar-nav">
	<li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About Inspeckd", "#" %></li>
	<li><%= link_to "Get Started", "#" %></li>
	<li><%= link_to "Contact", "#" %></li>
</ul>
<div class="btn-group btn-group-xs">
	<%= link_to "Register For Free", signup_path, class: "btn btn-default navbar-btn" %>
	<%= link_to "Sign In", signin_path, class: "btn btn-default navbar-btn" %>
</div>