<li><%= link_to "home", root_path %></li>
<li><%= link_to "faqs", faq_path %></li>
<li><%= link_to "about us", about_path %></li>
<li><%= link_to "services", services_path %></li>
<li><%= link_to "get started", signup_path %></li>
<li><%= link_to "sign in", signin_path %></li>