<li><%= link_to "home", root_path %></li>
<li><%= link_to "user faqs", user_faq_path %></li>
<li><%= link_to "account", profile_path %></li>
<li><%= link_to "my inventories", inspections_path %></li>
<li><%= link_to 'sign out', signout_path, method: "delete" %></li>