<!DOCTYPE html>
<html>
	<%= render :partial => 'layouts/head_tags' %>
	<body>
		<%= render :partial => 'layouts/header' %>
		<div id="main-content">
			<div class="container">
				<%= yield %>
			</div>
		</div>
		<%= render :partial => 'layouts/footer' %>
		<div class="container">
			<%= debug(params) if Rails.env.development? %>
		</div>
		<%= yield :javascript %>
	</body>
</html>
