<!DOCTYPE html>
<html>
  <%= render :partial => 'layouts/head_tags' %>
  <body id="homepage">
    <header class="homepage-top">
      <div class="container">
        <ul class="menu">
            <li><%= link_to "home", root_path %></li>
            <% if current_user %>
                <li><%= link_to "my inventories", inspections_path %></li>
                <li><%= link_to "profile", profile_path %></li>
                <li><%= link_to 'sign out', signout_path, method: "delete" %></li>
            <% else %>
            <li><%= link_to "get started", signup_path %></li>
            <li><%= link_to "sign in", signin_path %></li>
          <% end %>
        </ul>
      </div>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-6'>
            <div class='homepage-logo-responsive visible-xs'>
              <%= image_tag 'mi_logo_white.png', class: 'img-responsive' %>
            </div>
            <div class='homepage-image-text hidden-xs'>
              The easiest way to document<br />your personal belongings.
            </div>
          </div>
          <div class='col-sm-6'>
            <div class='homepage-logo hidden-xs'>
              <%= link_to image_tag('mi_logo_white.png'), root_path %>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <section class="green lead text-center">
      <div class="container">
        <div class='row'>
          <div class='col-md-6 col-md-offset-3'>
            <p>
              Having a personal inventory can help you bounce back from a disaster, fire, flood, burglary, or anything else that might compromise your belongings.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="homepage-main gray">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 homepage-block">
            <p>
              <span class="glyphicon glyphicon-cloud"></span>
            </p>
            <p class="head">Cloud Based</p>
            <p class="body">Inventories are created and stored online.</p>
          </div>
          <div class="col-sm-4 homepage-block">
            <p>
              <span class="glyphicon glyphicon-lock"></span>
            </p>
            <p class="head">Secure</p>
            <p class="body">Your information is safe and secure.</p>
          </div>
          <div class="col-sm-4 homepage-block">
            <p>
              <span class="glyphicon glyphicon-envelope"></span>
            </p>
            <p class="head">Share</p>
            <p class="body">Share your inventory with a few clicks.</p>
          </div>
        </div>
      </div>
    </section>

    <section class='white lead text-center'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-8 col-md-offset-2'>
            <p>
              Your up to date personal inventory can help you settle insurance claims faster, determine appropriate levels of coverage, or substantiate losses for your income tax return. You may need extra coverage for jewelry, furs, and collectibles.
            </p>
          </div>
        </div>
        <div class='text-center btn-row'>
          <%= link_to 'Start Your Inventory Now', signup_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </section>

    <section class='gray lead'>
      <div class="container">
        <div class='row'>
          <div class='col-md-6 text-center'>
            Create, access, and update<br />your inventory from any device.
          </div>
          <div class='col-md-6'>
            Image
          </div>
        </div>
      </div>
    </section>

    <section class="green lead">
      <div class="container">
        <div class='row'>
          <div class='col-md-6'>
            My Inventory works in two ways:<br />
            1. Have a mi agent complete your inventory.<br />
            2. Complete an inventory on your own.<br />
          </div>
          <div class='col-md-6'>
            Easy to Use Tools:
            <div class='row'>
              <div class='col-sm-6'>
                <p>
                  Upload Images<br />
                  Include Comments<br />
                  Email Report<br />
                  Helpful Tutorials<br />
                </p>
              </div>
              <div class='col-sm-6'>
                <p>
                  Custom Items<br />
                  PDF Report<br />
                  Room by Room<br />
                  And More<br />
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class='row'>

          <div class='col-sm-12'>
            <div class='text-center btn-row'>
              <%= link_to 'Start Your Inventory Now', signup_path, class: 'btn btn-lg btn-primary' %>
            </div>
          </div>
        </div>

      </div>
    </section>

	<%= render :partial => 'layouts/footer' %>

  </body>
</html>
