<!DOCTYPE html>
<html>
	<%= render :partial => 'layouts/head_tags' %>
	<body>
		<%= render :partial => 'layouts/header' %>
		<%= yield %>
		<%= render :partial => 'layouts/footer' %>
		<%= yield :javascript %>
	</body>
</html>
